# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.netbeans/

# Maven
target/
dependency-reduced-pom.xml
nbactions.xml

# OS junk
.DS_Store
Thumbs.db

dist.jar
jshell.history
sigstore-logo.png
src/main/resources/

